#memory_header{
  list-style: none;
  padding: 0;
  margin: 0;
}
#memory_header li{
  display: inline-block;
 
}

#home_button{
  float: left;
  padding-left: 5%;
}

div#memory_board{
  background: #CCC;
  border: #999 1px solid;
  width: 800px;
  height: 540px;
  padding: 24px;
  margin: 0px auto;
}

div#memory_board > div{
  background-color: black;
  border: #000 1px solid;
  width: 71px;
  height: 71px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 64px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 640px){
  div#memory_board{
    width: 80%;
    
  }

  div#memory_board > div{
    width: 10%;
    height: 20%;
    margin: 2%;
    padding: 1%;
  }
}






