body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

header{
  background: #00795f;
  width: 100%;
  padding: 40px 0;
  color: white;
  text-align: center;
  font-size: 25px;
}

#carousel-example-generic{
  height: 360px;
  width: 700px;
  margin:0 auto;
  margin-bottom: 20px

}

.carousel-inner{
  height: 360px;
  width: 700px;
  margin:0 auto;
  border-style: solid;
  border-width: 20px;
  border-color: white;
}

.rotate_image{
  max-height: 120%;
  margin: auto;
}

#welcome_message{
  text-align: center;
  padding: 0% 10% 0% 10%;
}

#home_button{
  float: left;
  padding-left: 5%;
}

#game_header{
  list-style: none;
  padding: 0;
  margin: 0;
}
#game_header li{
  display: inline-block;
 
}

a{
  text-decoration: none;
  color: inherit;

}

nav ul{
  background-color: #43a286;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.6s;
  -ms-transition: max-height 0.6s;
  -moz-transition: max-height 0.6s;
  -o-transition: max-height 0.6s;
  transition: max-height 0.6s;
}

nav ul li{
  display: inline-block;
  padding: 20px;
  color: white;
  font-size: 20px;
}

nav ul li:hover{
  background-color: #399077;
}

.handle{
  width: 100%;
  background: #005c48;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: none;
  font-size: 20px;

}
.blueberry{
  max-width: 960px;
  margin-top: 110px;
}

#doc{
  margin: 40px 0;
}
#content{
  margin: 0 auto;
  max-width: 1140px;
}

@media screen and (max-width: 640px){
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  .handle{
    display: block;
  }
  #carousel-example-generic{
    width: 450px;

  }


}