body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background: #00795f;
  width: 100%;
  padding: 40px 0;
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}

nav ul{
  background-color: #43a286;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  -webkit-transition: max-height 0.6s;
  -ms-transition: max-height 0.6s;
  -moz-transition: max-height 0.6s;
  -o-transition: max-height 0.6s;
  transition: max-height 0.6s;
}

nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li:hover{
  background-color: #399077;
}

.handle{
  width: 100%;
  background: #005c48;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  color: white;
  text-align: center;
  display: none;

}

@media screen and (max-width: 640px){
  nav ul{
    max-height: 0px;
  }
  .showing{
    max-height: 20em;
  }
  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
  }
  .handle{
    display: block;
  }

}